[submodule "oh-my-zsh-custom/custom/plugins/wakatime"]
	path = oh-my-zsh-custom/custom/plugins/wakatime
	url = https://github.com/sobolevn/wakatime-zsh-plugin.git
[submodule "oh-my-zsh-custom/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh-custom/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh-custom/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/oh-my-zsh-custom/custom/plugins/nix-shell"]
	path = zsh/oh-my-zsh-custom/custom/plugins/nix-shell
	url = https://github.com/chisui/zsh-nix-shell.git
[submodule ".oh-my-zsh/custom/plugins/zsh-vi-mode"]
	path = .oh-my-zsh/custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
